<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spoonart.training">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<activity android:name=".feature.session_six.SplashActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity android:name=".feature.session_five.LoginActivity"/>-->

        <activity
            android:name=".feature.session_three.ListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.session_four.AddItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.session_five.DetailActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
